
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Abdulai Brato Kamara</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/brato.png' %}" >
					<hr>
					<h5>Hi I'm ABDULAI BRATO KAMARA!</h4>
					<p style="text-align: center;">Software Engineer, Data Scientist & ICT Entrepreneur</p>
					<p style="text-align: center;">Themne, Krio, English</p>
					<p style="text-align: center;">Sierra Leonean</p>
				
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>PROFILE</h4>
					<hr>
					<p>I am a trained computer scientist and software engineer professional with experience in Machine Learning, Data Science, Web Technology, Android Development, Data Management, Data Collection App Development, Programming, Project Management.
						I have a solid background in Management Information System and strong knowledge on Microsoft Office Packages. I am a keen person; I approach tasks with results in mind.
						I am well organized and can work well as part of a team or on my own.
						I like completing tasks on time and making sure that I keep learning how to do things very well and quickly.
						I accept my mistakes and take corrections and I also learn from someone mistakes. Am polite gentle and humble and I do not easily get angry.</p>
						
						<hr>
						<p style="text-align: left;">58 Old Mabanta Road, Makeni City</p>
						<p style="text-align: left;">+23276255767, +8613702040205</p>
						<p style="text-align: left;">abdulaibratokamara@gmail.com, bratoabdulai@yahoo.com</p>
					
				</div>
			</div>
		</div>
		<br>



<div class="row">
	<!-- <div class="col-md-6"> -->
		<div class="card card-body h-100 border-info">
			<h5>EDUCATIONAL BACKGROUND</h5>
			<hr>
			<p style="color: #304FFE; text-align:left "><b>Nankai University, China <span style="float: right;">September 2019 – June 2021</span></p></b>
			Master of Engineering (Software Engineering)
			<hr>
			<p style="color: #304FFE; text-align:left "><b>University of Makeni –Ubuntu Tech <span style="float: right;">October 2018 - July 2019</span></p></b>
			Postgraduate diploma in Software Engineering
			<hr>
			<p style="color: #304FFE; text-align:left "><b>University of Makeni (Unimak) <span style="float: right;"> October 2010 - 2014</span></p></b>
			Bachelor of Science in Computer Science.

			<hr>
			<h5>CERTIFICATION</h5>
			<hr>
			<p style="color: #304FFE; text-align:left "><b>UDEMY Online Training Platform<span style="float: right;">October 2018 - 2019</span></p></b>
			<p>Certificate of Completion in Gradle, Spring Framework, Angular 7 and Spring Boot2 Certificate of Completion in Java, MySQL and Git and GitHub</p>

		</div>
	</div>


<br>
<div class="row">
	<!-- <div class="col-md-7"> -->
	<div class="card card-body h-100 border-info">
		<h5>WORKING EXPERIENCE</h5>
		<hr>
		<p style="color: #304FFE; text-align:left "><b>Co-Founder and Managing Director at LINK Corporation Limited Sierra Leone <span style="float: right;">February 2019 - Present</span></b></p>

		<p>I am a co-founder and managing director of LINK Corporation Sierra Leone,
			a startup Information Technology company based in Makeni, known for data management,
			mobile surveys, Microsoft office training, website design, database development..</p>
		<hr>
		<p style="color: #304FFE; text-align:left "><b>Co-Founder and Director of Operations at LINK Corporation Limited Sierra Leone <span style="float: right;">January 2017 – January 2019</span> </b></p>
		<p>I am a co-founder and director of operations of LINK Corporation Sierra Leone,
			a startup Information Technology company based in Makeni, known for data management,
			mobile surveys, Microsoft office training, website design, database development.</p>

		<h6>Responsibilities:</h6>
		<ul class="b">
			<li>Designing a website for LINK Corporation Limited Sierra Leone</li>
			<li>Facilitating data management training for Action for Advocacy and Development Sierra Leone</li>
			<li>Facilitating advanced Microsoft office packages for SiLNoRF for their staff across the country</li>
			<li>Facilitating data management training for MDAs in Makeni</li>
			<li>Design and developed mobile app for data collection and surveys</li>
		</ul>
		<hr>
		<p style="color: #304FFE; text-align:left "><b>Data Manager Volunteer at DHMT Bombali <span style="float: right;"> October 2017 – October 2018</span></p></b>
		</b>

		<p>I have worked as Data manager for DHMT Bombali as a volunteer assigned to the surveillance office and also
			deputizing
			CHW focal point.
			During my stay at DHMT, I have worked with different partners such as UNICEF, WHO, WHI, CARE, GOAL, HPA,
			MADAM etc.
			I also served as mental health focal point.</p>
		<h6>Responsibilities:</h6>
		<ul class="b">
			<li>Providing basic, intermediate and advanced excel training for the surveillance team and DHMT staff.</li>
			<li>Manage all IDSR data collected from PHU staff.</li>
			<li>Design and developed data collection tools for the surveillance unit.</li>
			<li>Provide technical support to all DHMT unit and staff.</li>
			<li>Developed data collection app and train surveillance officers on the use of mobile app to collect data.
			</li>
			<li>Provide support to the M&E unit.</li>
			<li>Provide supportive supervision to PHU staff.</li>
			<li>Analyse data collected and prepare daily, weekly and monthly report.</li>
			<li>Prepare weekly bulletin and send to national.</li>
			<li>Facilitating data management training for Focus1000.</li>
			<li>Integrated Disease Surveillance and Response (IDSR) facilitator Bombali DHMT.</li>
		</ul>
		<hr>

		<p style="color: #304FFE; text-align:left "><b>Community Health Worker (CHW) District Trainer and Module Supervisor at World Hope International<span style="float: right;"> February 2017 – July 2017</span></p></b>

		<h6>Responsibilities:</h6>
		<ul class="b">
			<li>Facilitating training for CHW on the reversed CHW modules and tools.</li>
			<li>Supervise CHW trainers and also provide supportive supervision to CHW.</li>
		</ul>
		<hr>

		<p style="color: #304FFE; text-align:left "><b>Surveillance Data Manager – Bombali at GOAL – Sierra Leone <span style="float: right;"> January 2017 – September 2017</span></p></b>

		<h6>Responsibilities:</h6>
		<ul class="b">
			<li>Providing basic, intermediate and advanced excel training for the surveillance team and DHMT staff.</li>
			<li>Manage all IDSR data collected from PHU staff.</li>
			<li>Design and developed data collection tools for the surveillance unit.</li>
			<li>Provide technical support to all DHMT unit and staff.</li>
			<li>Developed data collection app and train surveillance officers on the use of mobile app to collect data.</li>
			<li>Provide support to the M&E unit.</li>
			<li>Provide supportive supervision to PHU staff.</li>
			<li>Analyse data collected and prepare daily, weekly and monthly report.</li>
			<li>Prepare weekly bulletin and send to national.</li>
			<li>Facilitating data management training for DHMT Bombali.</li>
			<li>Facilitating data management training for HealthCo.</li>
			<li>Facilitating data management training for GOAL Sierra Leone.</li>
		</ul>
		<hr>

		<p style="color: #304FFE; text-align:left "><b>Data Consultant and Analysist at FLS Group Sierra Leone <span style="float: right;"> May 2016 – August 2016</span></p></b>

		<p>I have served as a data consultant and analyst for FLS Group Sierra Leone on a project Solar
			Electrification for rural community, it a UNOPS project which provide me the opportunity to meet
			UNOPS project stakeholders, expert within and out of the country.</p>

		<h6>Responsibilities:</h6>
		<ul>
			<li>Developed mobile app to collect survey data for the project.</li>
			<li>Provide technical training to data collector on the use of the mobile app.</li>
			<li>Analyse data collected from the field.</li>
			<li>Developed maps to locate suitable site for the installation of solar.</li>
			<li>Prepare technical report for the project.</li>
		</ul>
		<hr>

		<p style="color: #304FFE; text-align:left "><b>Surveillance Data Officer – Bombali at GOAL – Sierra Leone <span style="float: right;"> April 2016 – December 2016</span></p></b>

		<h6>Responsibilities:</h6>
		<ul>
			<li>Providing basic, intermediate and advanced excel training for the surveillance team and DHMT staff.</li>
			<li>Manage all IDSR data collected from PHU staff.</li>
			<li>Design and developed data collection tools for the surveillance unit.</li>
			<li>Provide technical support to all DHMT unit and staff.</li>
			<li>Developed data collection app and train surveillance officers on the use of mobile app to collect data.
			</li>
			<li>Provide support to the M&E unit.</li>
			<li>Provide supportive supervision to PHU staff.</li>
			<li>Analyse data collected and prepare daily, weekly and monthly report.</li>
			<li>Prepare weekly bulletin and send to national.</li>
			<li>Facilitating data management training for HealthCo.</li>
			<li>Facilitating data management training for GOAL Sierra Leone.</li>
		</ul>
		<hr>

		<p style="color: #304FFE; text-align:left "><b>Integrated Disease Surveillance and Response (IDSR) Data Manager 1 at DHMT Bombali <span style="float: right;"> November 2015 - April 2016</span></p></b>
		</b>

		<p>I have worked as Data manager for DHMT Bombali as a volunteer assigned to the surveillance office
			and also deputizing CHW focal point. During my stay at DHMT, I have worked with different partners
			such as UNICEF, WHO, WHI, CARE, GOAL, HPA, MADAM etc. I also served as mental health focal point.</p>

		<h6>Responsibilities:</h6>
		<ul>
			<li>Providing basic, intermediate and advanced excel training for the surveillance team and DHMT staff.</li>
			<li>Manage all IDSR data collected from PHU staff.</li>
			<li>Design and developed data collection tools for the surveillance unit.</li>
			<li>Provide technical support to all DHMT unit and staff.</li>
			<li>Developed data collection app and train surveillance officers on the use of mobile app to collect data.
			</li>
			<li>Provide support to the M&E unit.</li>
			<li>Provide supportive supervision to PHU staff.</li>
			<li>Analyse data collected and prepare daily, weekly and monthly report.</li>
			<li>Prepare weekly bulletin and send to national.</li>
		</ul>
		<hr>

		<p style="color: #304FFE; text-align:left "><b>Alert Desk Data Manager at District Ebola Response Center (DERC) – Bombali <span style="float: right;"> November 2014 – November 2015</span></p></b>

		<p>I have served as Alert Desk Data manager for DHMT Bombali during the Ebola outbreak as a volunteer.
			I interfaced with various expert during the epidemic and I have learned a lot of techniques on providing
			trainings on management, data analysis.</p>

		<h6>Responsibilities:</h6>
		<ul>
			<li>Providing basic, intermediate and advanced excel training for the surveillance team and DHMT staff</li>
			<li>Manage all Alert data received from the community, surveillance officers and PHU staff.</li>
			<li>Design and developed data collection tools for the surveillance unit and Incident Command Center</li>
			<li>Provide technical support to all unit and staff of the District Ebola Response Center Bombali</li>
			<li>Analyse data collected and prepare daily, weekly and monthly report</li>
			<li>Prepare weekly bulletin and send to national</li>
			<li>Prepare daily briefing report</li>
		</ul>
	</div>
</div>


<br>

<div class="card card-body h-100 border-info">
	<h5>PROFICIENCIES:</h5>
	<hr>
	<ul>
		<li>Windows Vista/XP/7/8/10, Chrome OS, Mac OS, Android OS</li>
		<li>SQL, MySQL, SQLite,  Oracle 10g 
		<li>ODK, Epi info, SurveyCTO, Kobo Collect, PowerBI, ComCare</li>
		<li> Microsoft Office Packages 2007 - 2019, Office 365 </li>
		<li>C-Programming, C++, Java Masterclass, Angular7, Spring Framework, Django, TypeScript, Spring Boot 2,
		Git, Ionic 4, Gradle, Masterclass, Maven, Python, The Ultimate MySQL BootCamp, 
		Android N Developer, Groovy, Node.js,
		Kotlin, HTML, HTML 5, CSS, PHP, JavaScript</li>
		<li>WordPress, Dreamweaver, Drupal, Joomla, Notepad++</li>
		<li>QGIS, Google Earth, ArcGIS, SPSS, PowerBI, Stata</li>
	</ul>
</div>
<!-- </div> -->

<br>
	<div class="card card-body h-100 border-info">
		<h5>Social Media</h5>
		<hr>
		<h4>Social Links</h4>
			<ul class="social-links">
			<li><a href="https://www.facebook.com/abdulai.brato" target="_blank"><img class="social" src="{% static 'images/facebook.png' %}"></li></a>
			<li><a href="https://www.linkedin.com/in/abdulai-brato-kamara-075232114/" target="_blank"><img class="social" src="{% static 'images/linkedin.png' %}"></li></a>
			<li><a href="https://twitter.com/Brato_Madina" target="_blank"><img class="social" src="{% static 'images/twitter.png' %}"></li></a>
			<!-- <li><a href="https://www.youtube.com/channel/UCifWZGYzbKkffK78gNwQXsQ" target="_blank"><img class="social" src="{% static 'images/youtube.png' %}"></li></a> -->
			</ul>
	</div>
</div>
</div>
</div>





</body>

</html>

	


		